@charset "UTF-8";
/* CSS Document */
h1,h2,h3,h4,h5 {
	font-family: upgrade, sans-serif;
	font-style: normal;
	font-weight: 300;
}
p,li {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;
}
.menu-container {
	border-bottom: 3px solid #941307;
}
#logo {
	width:180px;	
	padding-top:.4em;
}
.mainmenu {
	padding-top:.8em;
}